html
 {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.width-half {
    width: 50%;
}
.full-hw {
    height: 100%;
    width: 100%;
}
.height-half {
    height: 50%;
}
.width-qt {
    width: 25%;
}
.half-hw {
    height: 50%;
    width: 50%;
}
.flex-container-s {
    display: flex;
}
.flex-container-x {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex-jcs{ justify-content: space-around;}
.flex-jcs {
    justify-content: flex-start;
}
.flex-jce {
    justify-content: flex-end;
}
.flex-jcc {
    justify-content: center;
}
.flex-fc {
    justify-content: center;
    align-items: center;
}
.flex-gapx {
    gap: 4%;
}
.flex-gapxx {
    gap: 8%;
}
.flex-container-y {
    display: flex;
    flex-flow: column wrap;
}
.flex-content-half {
    flex-basis: 50%;
}
.flex-content-halfx {
    flex-basis: 48%;
}
.flex-content-halfx-mini {
    flex-basis: 46%;
}
.flex-content-qt {
    flex-basis: 25%;
}
.make-block {
    display: block;
}
.make-inline {
    display: inline-block;
}
.make-inlineblock {
    display: inline-block;
}
.gray-bg {
    background-color: lightgray;
    color: white;
}
.darkgray-bg {
    background-color: #2f2f1e;
    color: white;
}
.white-bg {
    background-color: white;
    color: black;
}
.text-gray {
    color: gray;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.pos-fix {
    position: fixed;
}
.pos-stk {
    position: sticky;
}
.overflow-hide {
    overflow: hidden;
}
.overflow-scroll-x {
    overflow: scroll;
}
.overflow-scroll-y {
    overflow-y: scroll;
}
.marginx {
    margin: 4rem;
}
.margins {
    margin: 1rem;
}
.marginxbs {
    margin-bottom: 2rem;
}
.marginsb {
    margin-bottom: 1rem;
}
.marginz {
    margin: 0px;
}
.marginzt{
    margin-top: 0px;
}
.marginxxy {
    margin-left: 1rem;
    margin-right: 1rem;
}
.marginsxy {
    margin-right: 1rem;
}
.marginxx {
    margin-left: 4px;
}
.pointer {
    cursor: pointer;
}
.weightx {
    font-weight: bold;
}
.font-x {
    font-size: 2rem;
}
.font-xs {
    font-size: 1.5rem;
}
.font-min {
    font-size: 0.75rem;
}
.font-minx {
    font-size: 0.85rem;
}
.font-dark-gray {
    color: #2f2f1e;
}
.font-gray {
    color: gray;
}
.font-bilbo {
    font-family: 'Bilbo', cursive;
}
.hover-bottom:hover {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}
.solid-border {
    border: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.center-text {
    text-align: center;
}
.mid-op {
    opacity: 0.5;
}
/* .drop-content {
    display: ;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  } */

/* media queries */
/* small screen */
@media (max-width: 600px) {
    .hide-small { display: none;}
    .full-width-s{ width: 100%;}
    .full-height-s{height: 80%;}
    .full-hw-smq {height: 100%;width: 100%;}
    .full-width-smq{width: 100%;}
    .flex-container-y-smq{display: flex;flex-flow: column wrap;}
    .flex-cr-smq{display: flex; flex-direction: column-reverse;}
    .flex-rr-smq{display:flex; flex-direction: row-reverse;}
    .full-weh-smq{width: 100%; height: 30%;}
    .font-xl {font-size: 2.5rem;}
    .height-three-qt {height: 75%;}
    .paddingx {padding: 1rem;}
    .marginx-mq {margin: 2rem;}
    .o0{ order: 0;}
    .o1{ order: 1;}
    .o2{ order: 2;}
    .o3{ order: 3;}
    .o4{ order: 4;}
    .o5{ order: 5;}
    .o6{ order: 6;}
    .o7{ order: 7;}
    .o8{ order: 8;}
    .o9{ order: 9;}
    .auto-height{height: auto;}
    .marginxbp {margin-bottom: 5rem;}
    .marginxb {margin-bottom: 4rem;}
    .padding-s {padding-bottom: 18rem;}
}

/* medium screen */
@media (max-width:992px) and (min-width:601px) {
    .height-mmq{height: 60%;}
    .width-mmq{width: 100%;}
    .hide-medium{display: none;}
    .flex-content-half-mmq {flex-basis: 50%;}
    .half-hw-mq {height: 50%;width: 50%;}
    .font-xl {font-size: 4rem;}
    .paddingx {padding: 4rem;}
    .marginx-mq {margin: 4rem;}
    .flex-content-halfx-mini-mq {flex-basis: 46%;}
    .marginxbp {margin-bottom: 2rem;}
    .marginxb {margin-bottom: 1.5rem;}
    .gal:hover .gallery {display: none;}
    .gal:hover .caption{display: block;}
}

/* large screen */
@media (min-width: 993px) {
    .font-xl {font-size: 4rem;}
    .flex-content-half-mq {flex-basis: 50%;}
    .overflow-hide-mq {overflow: hidden;}
    .flex-content-halfx-mq {flex-basis: 48%;}
    .flex-content-halfx-mini-mq {flex-basis: 46%;}
    .special {display: none;}
    .half-hw-mq {height: 50%;width: 50%;}
    .overflow-scroll-y-mq {overflow-y: scroll;}
    .full-height-mq{height: 100%;}
    .hide-large{display: none;}
    .paddingx {padding: 4rem;}
    .marginx-mq {margin: 4rem;}
    .marginxbp {margin-bottom: 5rem;}
    .marginxb {margin-bottom: 4rem;}
    .gal:hover .gallery {display: none;}
    .gal:hover .caption{display: block;}
}
